@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-primary-accent: #d4af37;
   --color-primary-accent-dark:   #b08c2e;  /* ~15% darker */
  --color-primary-accent-light:  #f3e7b1;  /* ~40% lighter */
  --color-primary: #1e293b;
  --color-primary-light: #475569;
  --color-primary-lighter: #94a3b8;
  --color-secondary-bg: #f9fafb;
  --color-paragraph-light: #9ca3af;
  --text-h1: clamp(2rem, 1.2083rem + 3.9583vw, 4.375rem);
  --text-h2: clamp(1.5rem, 0.7708rem + 2.3958vw, 2.6875rem);
  --text-subtitle: clamp(0.75rem, 0.6667rem + 0.4167vw, 1rem);
  --text-paragraph: clamp(1rem, 2.5vw, 1.25rem);

  --animate-marquee: marquee 20s infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;

  
}
body.modal-open {
  overflow: hidden;
  position: relative;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1e293b;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d4af37;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d4af37;
  opacity: 0.5;
}

.text-subtitle {
  font-size: var(--text-subtitle);
  @apply font-semibold tracking-widest text-primary-accent;
}
.text-h1 {
  font-size: var(--text-h1);
  @apply font-bold  leading-[1.2];
}
.text-h2 {
  font-size: var(--text-h2);
  @apply font-bold text-black leading-[1.1];
}

.text-paragraph {
  @apply text-paragraph-light text-lg;
}

.text-gradient {
  @apply bg-gradient-to-tr from-primary via-primary-light to-primary-lighter bg-clip-text text-transparent;
}
.text-gradient-accent {
  @apply 
    bg-gradient-to-tr 
    from-[var(--color-primary-accent-dark)] 
    via-[var(--color-primary-accent)] 
    to-[var(--color-primary-accent-light)] 
    bg-clip-text 
    text-transparent;
}

/* Swiper Styles */

.swiper-pagination {
  transform: translateY(10px) !important;
}

.swiper-pagination-bullet {
  width: 16px !important;
  height: 16px !important;
}
.swiper-pagination-bullet-active {
  background: #d4af37 !important;
}

.swiper-button-prev {
  color: #d4af37 !important;
}
.swiper-button-next {
  color: #d4af37 !important;
}

@layer utilities {
  /* custom timing function utility */
  .ease-minor-spring {
    --tw-transition-timing-function: cubic-bezier(0.18, 0.89, 0.82, 1.04);
  }

  /* keyframes */
  @keyframes reveal-up {
    0%   { opacity: 0; transform: translateY(80%); }
    100% { opacity: 1; transform: translateY(0);    }
  }
  @keyframes reveal-down {
    0%   { opacity: 0; transform: translateY(-80%); }
    100% { opacity: 1; transform: translateY(0);     }
  }
  @keyframes content-blur {
    0%   { filter: blur(0.3rem); }
    100% { filter: blur(0);     }
  }

  /* animation utilities */
  .animate-reveal-up {
    animation: reveal-up 0.5s var(--tw-transition-timing-function) both;
  }
  .animate-reveal-down {
    animation: reveal-down 0.5s var(--tw-transition-timing-function) both;
  }
  .animate-content-blur {
    animation: content-blur 0.5s var(--tw-transition-timing-function) both;
  }
}

@theme inline {
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
 
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}